/************************************************************************ 
MIL Database Style Sheet
************************************************************************/


/* Eric Meyer's Reset Reloaded */
/* http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/************************************************************************ 
Global Styles
************************************************************************/
body{
	font-family: Helvetica, Verdana, Arial, sans-serif;
	background-color: #595241;
}

a:link {
	color: #8a0917;
	text-decoration: underline
} 
a:visited {
	color: #002f2f;
}
a:hover,
a:focus {
	//color: #;
	text-decoration: none;
}
a:active {
}


#wrap{
	width: 960px;
	margin: 0 auto;
	min-height: 500px;
}

#content{
	width: 960px;
}

p, ul, ul li{font-size: .8em;}

h1{font-size: 2em;}
h2{font-size: 1.8em;}
h3{font-size: 1.5em;}
h4{font-size: 1.2em; margin-bottom: 10px;color: #faa645;}
h5{font-size: .95em;line-height: 1.5em;}
h6{font-size: .95em;line-height: 1.5em;}

.clearing {	
	display: block; 
	clear: both; 
	font-size: 1px; 
	height: 1px; 
	line-height: 1px; 
	margin: 0;}

/************************************************************************ 
Global Styles
************************************************************************/
#Wrapper{
	width: 550px;
	margin: 0 auto;
}

#largeWrapper{
	width: 960px;
	margin: 0 auto;

}
#header{
	width: 550px;
	height: 70px;
	padding-top: 26px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#header h1{
	width: 540px;
	height: 55px;
	display: block;
	background-image: url(../images/mil-logo.png);
	background-position: center top;
	background-repeat: no-repeat;
	text-indent: -5000px; 
	float: left;
}
#header p{
	text-indent: -5000px; 
}

#header p a{
	text-indent: 0; 
}

#header a.logout{
	display: block;
	padding: 10px;
	background-color: #443e2b;
	float:right;
	color:#fff;
	font-family: Helvetica, Verdana, Arial, sans-serif;	
	margin: 25px 15px;
	-moz-border-radius:5px;
	-webkit-border-radius: 8px;
	border:medium none;
	text-decoration: none;
}

#header a.logout:hover{
	background-color: #746a4a;
	text-decoration: none;
}


#sponsorLogos{
	width:308px;
	height: 76px;
	background-image: url(../images/sponsor-logos.png);
	text-indent: -5000px;
	margin:25px 0 0 15px;
}
/************************************************************************ 
Form Styles
************************************************************************/
#contentWrap {
	margin:0 auto;
	padding:25px 30px 60px 30px;
	width:500px;
	-moz-border-radius:8px 8px 8px 8px;
	-webkit-border-radius: 8px;
	border:medium none;
	color:#333333;
	background-color: #e7e7e7;
	border: solid #ffffff 3px;
}

#largeContentWrap{
	margin:0 auto;
	padding:25px 30px 60px 30px;
	width:900px;
	-moz-border-radius:8px 8px 8px 8px;
	-webkit-border-radius: 8px;
	border:medium none;
	color:#333333;
	background-color: #e7e7e7;
	border: solid #ffffff 3px;
}

#mainIndex h2{
	margin-bottom: 35px;
}

label {
	color:#333333;
	display:block;
	font-size:1.3em;
	line-height:1.5;
}

label a{
	font-size:.7em;
}

input.text-input {
	-moz-border-radius: 8px; -webkit-border-radius: 8px;
	border:none;
	color:#333333;
	font:2em "Helvetica Neue",helvetica,sans-serif;
	margin-right:5px;
	outline:medium none;
	padding:10px;
	width:430px;
	background-color: ffffff;
	border: solid #cccccc 1px;
}

#registerButts{
	margin-top: 15px;
}

input.button {
	color:#000;
	font: 700 1em "Helvetica Neue",helvetica,sans-serif;
 	background-color:#fed;
	border: 1px solid;
	border-color: #696 #363 #363 #696;
          margin:5px;
	filter:progid:DXImageTransform.Microsoft.Gradient
	(GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffeeddaa');
	-moz-border-radius: 5px; -webkit-border-radius: 5px;
	margin-right: 5px;
          
}

#radioContractor, #radioEmployee, #radioPartner, #radioGuest, .radio1Form, .checkBox{
	float: left;	
	margin: 3px 8px 0 0;
}

.radioForm{
	width: 230px;
	float:left;
	margin: 0 20px;
	font-size: .8em;
}

.radioFormSmall{
	width: 220px;
	float:left;
	margin: 10px 5px;
	font-size: .7em;
}

.radioFormSmall input{
	float:left;
}

.radioButtonWrap{
	display: block;
	clear: both;
}


fieldset{
	background-color: #fff;
	padding: 15px;
	margin: 15px 0;
	-moz-border-radius:8px 8px 8px 8px;
	-webkit-border-radius: 8px;
	border:medium none;
}

fieldset h4{
	margin-bottom: 15px;
}

.labNameAppear{
	margin: 5px;	
}

.removeX{
	margin: 5px;
}

/************************************************************************ 
workspace styles	
************************************************************************/
#username_change, #password_change, #save_password, #save_username{
	padding: 5px 5px 3px 5px;
	-moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFEEDD;
    border-color: #669966 #336633 #336633 #669966;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    font: 700 1em "Helvetica Neue",helvetica,sans-serif;
    margin-right: 5px;	cursor: pointer;	
}

#save_username{
	padding: 0;
}

/************************************************************************ 
large table styles
************************************************************************/
table.mainContactForm{
	border:0 none;
	border-collapse:collapse;
	float: left;
}

.mainContactFormTable{
	width: 96%;

}

.mainContactForm td{
	font-size: .85em;
	padding: 5px;
}




table.subForms, .mainContactFormTable{
	border:0 none;
	border-collapse:collapse;
	margin: 15px;
	border: 1px solid #ccc;
}

.subForms thead{
	background-color:#ccc;
}

.subForms th, .mainContactFormTable th{
	font-size: .75em;
	padding: 5px;
	text-align: center;
	border-left: 1px solid #ccc;
}

.subForms td, .mainContactFormTable td{
	font-size: .75em;
	padding: 5px;
	border: 1px solid #ccc;

}

.mainContactFormTable tr th{
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	background-color: #cccccc;
}
.mainContactFormTable tr.odd{
	background-color: #e6e6e6;
}
.mainContactForm tr td input{
	margin: 2px;
	padding: 4px;
	background-color: #e6e6e6;
	border: 1px solid #ccc;
}
.mainContactForm tr td div.radioButt{
	padding:0;
	float: left;
	line-height: 5px;
}
.mainContactForm tr td .radioButt input{
	background-color: transparent;
	border: none;
	margin:0;
}

.mainContactForm tr td .radioButt label{
	float: right;
	font-size: 1em;
	padding:0 5px; 
	margin: 0;
	}
	
.memberBasic{
	background-color: #ccc;
	margin: 0 5px 0 2px;
	background-color: #e6e6e6;
	border: 1px solid #ccc;
}

.memberBasic input{
	float:left	
}

/************************************************************************ 
Dojo Style
************************************************************************/
table.dojoTabular { 
	border-collapse: collapse; 
	border-spacing: 0; 
	border: 1px solid #ccc; 
	margin: 0 1.5em;
}
.dojoTabular th { 
	text-align: center; 
	font-weight: bold;
}
table.dojoTabular thead, table.dojoTabular tfoot { 
	background-color: #efefef; 
	border: 1px solid #ccc; 
	border-width: 1px 0; 
}
table.dojoTabular thead tr th,
table.dojoTabular thead tr td,
table.dojoTabular tbody tr td,
table.dojoTabular tfoot tr td { 
	padding: 0.25em 0.5em;
}
form.cmxform label.error, label.error {
	/* remove the next line when you have trouble in IE6 with labels in list */
	color: red;
	font-style: italic
}
.calResult{
color:red;
font-weight: bold;
}
.errMsg{
color:red;
font-weight: bold;
}
.tableTD{
    width:130px;
}